
table {
    color:#666699;
    font-family:Arial;
    font-size:8pt;
    border-collapse:collapse;
}
th{
    background-color:#b9c9fe;
    font-weight:bold;
    font-size:9pt;margin:0;
    padding:5px;
    border-top:4px solid #aabcfe;
    text-align: center;
}
td {
    background-color:#e8edff;
    margin:0;padding:0;
    border-bottom:1px solid white;
    text-align: center;
    height:25px;
}

#confirm_box {
    position:absolute;
    z-index:12;
    width: 400px;
    height: 200px;
    top: 50%;
    left:50%;
    margin-top: -100px;
    margin-left: -200px;
}

#confirm_box_title {
    padding:5px;
    font-weight:bold;
    border-bottom: 1px solid #898989;
}

#confirm_box_message {
    padding:5px;
    border-bottom: 1px solid #898989;
}

#confirm_box_email {
    text-align:left;
    padding:5px;
    border-bottom: 1px solid #898989;
}

#confirm_box_email input[type=text] {
    font-size:8pt;
    font-family: Arial;
    width:150px;
}

#confirm_box_button {
    padding:5px;
    width:100%;
    text-align:right;
}

#partitioning_loader_background {
    position:fixed;
    text-align:center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#898989;
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
    opacity:0.3;
    z-index:10;
    display:none;
}

.product_infos {
    cursor:help;
}
