/* Zone autour des fenêtre de dialogue */
.overlay_alphacube {
	background-color: #eeeeee;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

/* Coin haut gauche de la fenêtre */
.alphacube_nw {
	/*background: transparent url(alphacube/left-top.gif) no-repeat 0 0;			*/
	width:10px;
	height:20px;
	border-left : 1px solid #b5b4b3;
	border-top : 1px solid #b5b4b3;
	background-color: #b5b4b3;
}

/* Haut milieu de la fenêtre (zone où le titre est affiché) */
.alphacube_n {
	/*background: transparent url(alphacube/top-middle.gif) repeat-x 0 0; 			*/
	height:20px;
	background-color: #b5b4b3;
}

/* Coin haut droit de la fenêtre */
.alphacube_ne {
	/*background: transparent url(alphacube/right-top.gif) no-repeat 0 0;			*/
	width:10px;	  
	height:20px;
	border-right : 1px solid #b5b4b3;
	border-top : 1px solid #b5b4b3;
	background-color: #b5b4b3;
}

/* Milieu gauche */
.alphacube_w {
	/*background: transparent url(alphacube/frame-left.gif) repeat-y top left;			*/
	/*width:7px;*/
	border-left : 1px solid #b5b4b3;
	background:#fcfcfc;
}

/* Milieu droit */
.alphacube_e {
	/*background: transparent url(alphacube/frame-right.gif) repeat-y top right;			*/
	width:7px;
	border-right : 1px solid #b5b4b3;
	background:#fcfcfc;
}

/* Coin bas gauche */
.alphacube_sw {
	/*background: transparent url(alphacube/bottom-left-c.gif) no-repeat 0 0;			*/
	width:7px;
	height:7px;
	border-left : 1px solid #b5b4b3;
	border-bottom : 1px solid #b5b4b3;
	background-color: #e8e4e4;
}

/* milieu bas = status bar  */
.alphacube_s {
	/*background: transparent url(alphacube/bottom-middle.gif) repeat-x 0 0;			*/
	height:7px;
	border-bottom : 1px solid #b5b4b3;
	background-color: #e8e4e4;
	color: #8b8b8b;
	font : italic 3pt Verdana, Arial, sans-serif;
}

.alphacube_se, .alphacube_sizer  {
	border-right : 1px solid #b5b4b3;
	background-color: #e8e4e4;
	border-bottom : 1px solid #b5b4b3;
}

.alphacube_sizer {
	cursor:se-resize;	
	background: transparent url(alphacube/resize.gif) no-repeat bottom right;
	width:7px;
	height:7px;
	background-color: #e8e4e4;
}

.alphacube_close {
	width: 15px;
	height: 13px;
	background: transparent url(alphacube/button-close-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:3px;
	right:4px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_minimize {
	width: 15px;
	height: 13px;
	background: transparent url(alphacube/button-min-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:3px;
	right:21px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_maximize {
	width: 15px;
	height: 13px;
	background: transparent url(alphacube/button-max-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:3px;
	right:38px;
	cursor:pointer;
	z-index:1000;
}

/* Titre de la fenêtre */
.alphacube_title {
	font : bold 8pt Verdana, Arial, sans-serif;
	float:left;
	text-align:left;
	margin-top:2px;
	width:100%;
	color:#FFFFFF;
}

.alphacube_content {
	overflow:auto;
	color: #000;
	font-family: Verdana,Tahoma, Arial, sans-serif;
	font: 12px arial;
	background:#fcfcfc;
	padding-top:5px;
}

/* For alert/confirm dialog */
.alphacube_window {
	border:1px solid #F00;	
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.alphacube_message {
	font: 12px arial;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.alphacube_buttons {
	text-align:center;
	width:100%;
}

.alphacube_buttons input {
	width:20%;
	margin:10px;
}

.alphacube_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('alert/progress.gif') no-repeat center center
}

.alphacube_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;	
}

a{
  font : normal 10pt Verdana, Arial, sans-serif;
  color : #585858;
  text-decoration : none;
}
a:hover{
  font : normal 10pt Verdana, Arial, sans-serif;
  color : #585858;
  text-decoration : underline;
}
a:link{
  font : normal 10pt Verdana, Arial, sans-serif;
  color : #585858;
  text-decoration : none;
}


