a,a.visited {
  color:#FFFFFF;/*#424242;*/
  font-weight: normal;
  text-decoration: none;
}

.fl-screenNavigator-view {
  -moz-box-shadow: 0 0 6px #737373;
  -webkit-box-shadow: 0 0 6px #737373;
  box-shadow: 0 0 6px #737373;
}

#cas form {display:block; margin:80px 0 0;padding:0; background:#26a9e0;}
    #cas fieldset {border:0; margin:0; padding:0; float:left; clear:none; width:258px;}
        #cas fieldset legend {display:none;}

        #cas #login 
		{ 
			margin: auto;/*0 -296px 0 0; */
			padding:15px; 
			width:300px; 
			min-height:17em; 
			/*background:#eee; */
			background:#FFFFFF;
			position:relative; 
			border:0; 
                        
		}
        #cas #login:before {line-height:0.1; font-size:1px; /*background:transparent url("../images/key-point_tr.gif") no-repeat top right;*/ margin:-15px -15px 0 -15px; height:15px; display:block; /*content:url("../images/key-point_tl.gif");*/}
        #cas #login:after {display:block; clear:both; padding-top:15px; line-height:0.1; font-size:1px; /*content:url("../images/key-point_bl.gif");*/ margin:-15px; height:8px; /*background:transparent url("../images/key-point_br.gif") scroll no-repeat bottom right;*/}
            #cas #login h2 {border-bottom:1px solid #ddd; padding:3px 0; font:normal 400 17px Verdana,Arial,sans-serif; color:#333;}
            #cas #login label {font-size:11px;}
            #cas #login label span.accesskey {text-decoration:underline;}
            /*#cas #login input {letter-spacing:1px;}*/
            #cas #login .check input {position:relative; left:-4px; height:auto;}
            #cas #login .check label {float:none; xwidth:auto; line-height:1.8;}
            #cas #login .btn-row {position:relative; top:15px; padding-top:10px; border-top:1px solid #ddd;}
            * html #cas #login .btn-row {top:5px;} /* IE6 */
            #cas #login .btn-submit {float:none; clear:none; display:inline; letter-spacing:0;}
            * html #cas #login .btn-submit {background:#ffd;}
            #cas #login .btn-reset {float:none; clear:none; margin-left:5px; border:0; border-left:1px solid #ddd; background:transparent; color:#777; text-transform:lowercase; letter-spacing:0; cursor:pointer;}

    #cas #sidebar {margin-left:25%; margin-right: 25%; padding:18px 15px;}
        #cas #sidebar h3 {font:normal 400 14px Verdana,Arial,sans-serif; color:#555; margin:18px 0 0; padding:6px 0 3px;}
        #cas #sidebar p {margin:0 0 18px; padding:0; color:#DDDDDD; font-size:1em; text-align: center;}

        #cas #list-languages ul {margin:0; padding:0; line-height:1.5; list-style:none;}
            #cas #list-languages ul li {display:inline; padding:0 5px; border-right:1px solid #ccc;}
            #cas #list-languages ul li.first {padding-left:0;}
            #cas #list-languages ul li.last {padding-right:0; border:0;}

#cas #footer p {margin:0 0 1em 0; padding:0;}

/* RESET --------------------------------- */
/* reset some properties for elements since defaults are not crossbrowser - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html,body,div,span,h1,h2,h3,p,a,img,ul,li,fieldset,form,label,legend {margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline;}
:focus {outline:0;}
ul {list-style:none; font-size:1.1em; padding:0 0 18px 40px;}

/* browser default font-size is 16px which is too big so we make it 16px x 62.5% = 10px */
    body 
	{
		/*font:normal 400 62.5%/1.0 Verdana, sans-serif; */
		font: 76% Verdana,Arial,Helvetica,sans-serif;
		background:#EEEEEE; 
		color:#ddd;
		margin-left: auto;
		margin-right: auto;
		width: 1000px;
	}

/*
 - used to clear or contain floats within a non-floated container
 - this ruleset is used by UAs that handle :after - not IE - see ie_cas.css for IE fix
http://www.positioniseverything.net/easyclearing.html and http://www.ejeliot.com/blog/59 */
#header:after, #content:after, #footer:after, .clearfix:after {content:"."; clear:both; display:block; height:0; visibility:hidden;}


/* HEADER --------------------------------- */
#header
{
	position:relative; 
	top:0; 
	left:0; 
        
	z-index=-1; 
	clear: both;
	height:83px;
	
        background: #484848; /* Old browsers */
}
#header2
{
	position:relative; 
	top:0; 
	left:0; 
	/*padding-top:10px; */
	background:#26a9e0;
	z-index=-1; 	
	height: 45px;
}

    #header h1#app-name {padding:0 200px 10px 0;float:right; color:#fff; font:normal 400 2.8em/2.5em Verdana,Arial,sans-serif;} /* d21033 */
    #header img#logo {padding:15px 0 0 50px;right:0; top:0; margin-top:10px;float:left;}
    
/* CONTENT --------------------------------- */
#content {clear:both; height: 665px; padding:1px 0; /*margin:0 25px 2em;*/ background: #26a9e0;}
    #content h2 {margin:0 0 .5em 0; font-size:1.3em; font-weight:400; color:#dddddd; xborder-bottom:1px solid #eee; padding:3px 0; xletter-spacing:-1px;}
    #content h3 {font:1em arial, helvetica, sans-serif; font-weight:400;}

    #content p {line-height:1.5; font-size:1.1em;}

/* FOOTER --------------------------------- */
#footer 
{
	clear:both; 
	position:relative; 
	
	padding-top: 2px; 
	
	background-color: #484848;
    color: #FFFFFF; /*#424242;*/
    font-size: 0.8em;
}

    #footer img#logo {position:absolute; right:0; top:0; margin-top:10px;}
    #footer div {clear:left; /*margin:1em 5px .5em;*/ height:17px; overflow:hidden;}

/* MESSAGES --------------------------------- */
.info, .errors, .success {clear:both; margin:18px 0; padding:20px 20px 20px 100px; font-size:10px; line-height:1.5;}
.info {border:1px dotted 008;    background:#eff url(../images/info.gif) no-repeat 20px 18px; color:#008;}
.errors {border:1px dotted #d21033; background:#fed url(../images/error.gif) no-repeat 20px 18px; color:#d21033; padding-bottom: 40px;}
.success {border:1px dotted #390; background:#dfa url(../images/confirm.gif) no-repeat 20px 18px; color:#390;}
    #content .errors h2, #content .success h2 {font-family:Verdana,Arial,sans-serif; font-size:18px; line-height:48px; font-weight:400; margin:0 18px 0 0; padding:0;}
    #content .success h2 {color: #008 !important;}
    #content .errors h2 {color:#b00 !important;}
    #content .success h2 {color:#060 !important;}
    

/* static messages */
#content #msg p {padding:0;}

/* FORMS --------------------------------- */
    label {/*cursor:pointer;*/ font-size:1.1em; color:#777;}
    input {border-width:1px; font-family:Verdana,Arial,sans-serif; font-size:1.1em; color:#000; padding:3px; min-height:1.5em;}
    input.btn-submit {border-width:2px;}


    .fm-v div.row {float:left; margin:0; padding:.5em 0; width:100%;}
    .fm-v div.row label {float:left; width:100%; line-height:1.5;}
    .fm-v div.row input.btn-submit {display:block; margin:0;}


/* highlight errors */
    input.error {background:#FFEFEF; color:#b00;}

/* mark as required */
    .required 
	{
		/*background:#ffd;*/
	}
    .error {background:#ffefef;}
    input.required {border-width:1px;}
