/* habillage de l'en-tête - 30/07/2008 slc */

body {margin:0; padding:0;}


#header {
	position:relative;
	padding-bottom:0px;
	background:url('../images/bandeau2008/header_background_white.png') top repeat-x;
	height:80px;
	font : normal 7pt Verdana, Arial, sans-serif;
	color : #ffffff;
}

#header div.logo-opperator {
	position:absolute; top:5px; left:10px;
}

#header div.left-side {
	float:left;
	background:url('../images/bandeau2008/bg.png') top left no-repeat;
	width:700px;height:75px;
}

#header div.right-side {
	position:absolute; right:0; top:0;
	height:57px; width:380px;
}

#header div.productInHeader {
	position:absolute; top:0; right:440px;
	text-align:right;
}

#header div.logo-constructor {
	position:absolute; top:0; right:0;
}

#header div.user {
	position:absolute; top:20px; right:160px; width:280px;
	text-align:center;
}
#header div.chemin {
	position: absolute;
	left: 6px;
	bottom: 5px;
	font-weight: bold;
	color: white;
	filter: Glow(Color=#000000, Strength=1);
	text-shadow: black 0px 0px 2px;
}

#header div.date {
	position: absolute;
	bottom: 6px;
	right: 2px;
	z-index: 5;
	color: black;
}

#header div.toolbar {
	position:absolute;
	bottom:5px;
	right:0;
	height:17px;
	width:400px;
	background: transparent url('../images/bandeau2008/toolbar_background.png') repeat-x left;
}


