/*
 * QueryBuilder CSS merged with homepage CSS
 */
#taHeader {
	position: absolute;
	z-index: 10;
	width: 100%;
	visibility: hidden;
}

#extjsHeader, #extjsHeader > div {
	background: #1d97d8 !important;
	border: none;
}

#extjsHeader.qbFullScreen, #taHeader.qbFullScreen {
	top: -130px;
}

.qbJsHeader {
	border: none;
	background: #1d97d8;
}

.barButton {
	z-index: 1000;
	bottom: 7px;
}

.barButtonFullscreen {
	bottom: 4px;
}

.redRow .x-grid-cell{
	color: red;
}

/* Filter panel */
* /#qbFilterField, #qbSimpleFilterField {
	height: 28px;
	line-height: 28px;
	border: 0;
}

#qbFilterField tr, #qbSimpleFilterField tr {
	height: 28px;
}

.qbFilterField_left {
	background: url("../images/formfield_left.png") no-repeat;
	width: 24px;
}

.qbFilterField_center {
	background: url("../images/formfield_center.png");
}

.qbFilterField_right {
	background: url("../images/formfield_right.png") no-repeat;
	width: 14px;
}

#qbFilterField input,#qbSimpleFilterField input {
	background: transparent;
	width: 100% !important;
	border: 0;
	height: 20px !important;
	color: #000;
}

.qbFilterLabel {
	font-weight: bold;
	font-size: 11px;
	color: #000;
}

#qbFilterForm .x-form-cb-label,#qbSimpleFilterForm .x-form-cb-label {
	font-size: 11px;
}

#qbFilterElements,#qbFilterProducts,#qbSimpleFilterElements,#qbSimpleFilterProducts
	{
	margin-top: -15px !important;
}

#rawcheckbox,#kpicheckbox {
	margin-left: 16px;
	margin-bottom: 2px;
}

.qbButtonFilterReset {
	background: url("../images/buttonFilterReset.png") no-repeat;
	width: 55px !important;
	height: 13px !important;
	cursor: pointer;
	position: absolute;
	right: 0 !important;
	z-index: 101;
}

#qbFamilyTree div,#qbSimpleFamilyTree div {
	color: #585858;
}

#qbFamilyTree span,#qbSimpleFamilyTree span {
	background: #333;
	color: #fff;
}

#qbFamilyTree .x-grid-dirty-cell,#qbSimpleFamilyTree .x-grid-dirty-cell
	{
	background: none;
}

/* RAW/KPI Lists */
.qbElementList {
	font-family: arial, tahoma, helvetica;
	font-size: 11px;
	table-layout: fixed;
	margin-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.qbElementList td {
	white-space: nowrap;
	overflow: hidden;
}

.qbElementList tr:hover {
	background: #E5F1FF;
	cursor: pointer;
}

.qbElementContainer {
	overflow-y: scroll;
	height: 100%;
}

.qbElementProduct {
	color: #555;
}

.qbInvisible {
	visibility: hidden;
}

/* Icons */
.icoQueryTab,.icoGrid {
	background: no-repeat
		url("../images/icons/application_view_columns.png");
}

.icoGraph {
	background: no-repeat url("../images/icons/chart_bar.png");
}

.icoCross {
	background: no-repeat url("../images/icons/cross.png");
	width: 16px;
	height: 16px;
}

.icoTime {
	background: no-repeat url("../images/icons/time.png");
}

.icoNetwork {
	background: no-repeat url("../images/icons/transmit_blue.png");
}

.icoCancel {
	background: no-repeat url("../images/icons/cancel.png") !important;
	width: 16px !important;
	height: 16px !important;
	cursor: pointer;
	/*position: absolute;*/
	right: 0 !important;
	z-index: 101;
}

.icoBrick {
	background: no-repeat url("../images/icons/brick.png");
}

.icoError {
	background: no-repeat url("../images/icons/error.png");
}

.icoApplication {
	background: no-repeat url("../images/icons/application.png");
}

.icoSave {
	background: no-repeat url("../images/icons/disk.png");
}

.icoSaveAs {
	background: no-repeat url("../images/icons/disk_multiple.png");
}

.icoPreview {
	background: no-repeat url("../images/icons/calculator.png");
}

.icoPreviewError {
	background: no-repeat url("../images/icons/calculator_error.png");
}

.icoExport {
	background: no-repeat url("../images/icons/cog.png");
}

.x-tool-export {
	background: no-repeat url("../images/icons/custom_tools.gif") 0 0
		!important;
}

.x-tool-import {
	background: no-repeat url("../images/icons/custom_tools.gif") 0 -15px
		!important;
}

.icoSmallReload {
	background: no-repeat url("../images/icons/arrow_refresh_small.png");
}

.icoReload {
	background: no-repeat url("../images/icons/arrow_refresh.png");
}

.icoChartEdit {
	background: no-repeat url("../images/icons/chart_bar_edit.png");
}

.icoPicture {
	background: no-repeat url("../images/icons/picture_empty.png");
}

.icoCogDelete {
	background: no-repeat url("../images/icons/cog_delete.png");
}

.icoTransmit {
	background: no-repeat url("../images/icons/transmit.png");
}

.icoWhitePage {
	background: no-repeat url("../images/icons/page_white_text.png");
}

.icoStar {
	background: no-repeat url("../images/icons/star.png");
}

.icoPencil {
	background: no-repeat url("../images/icons/pencil.png.png") right center;
}

.icoPdf {
	background: no-repeat url("../images/icons/page_white_acrobat.png")
		right center;
}

.icoFile {
	background: no-repeat url("../images/icons/page_white_text.png")
		right center;
}

.icoExport {
	background: no-repeat url("../images/icons/report_go.png") right center;
}

.icoMail {
	background: no-repeat url("../images/icons/mail_icon.gif") right center;
}

.icoTabAdd {
	background: no-repeat url("../images/icons/tab_add.png") right center;
}

.icoTabDelete {
	background: no-repeat url("../images/icons/tab_delete.png") right center;
}

.icoTabEdit {
	background: no-repeat url("../images/icons/tab_edit.png") right center;
}

.icoTabCopy {
	background: no-repeat url("../images/icons/tab_go.png") right center;
}

.icoStar {
	background: no-repeat url("../images/icons/star.png") right center;
}

.icoConfiguration {
	background: no-repeat url("../images/icons/cog.png");
}

.icoRotate {
	background: no-repeat url("../images/icons/arrow_rotate_clockwise.png") right center;
}

.icoZoomIn {
	background: no-repeat url("../images/icons/arrow_in.png") right center;
}

.icoZoomOut {
	background: no-repeat url("../images/icons/arrow_out.png") right center;
}

.icoUndo {
	background: no-repeat url("../images/icons/arrow_undo.png") right center;
}

.icoInfo {
	background: no-repeat url("../images/icons/information.png") right center;
}

.x-tool-over .x-tool-export {
	background-position: -15px 0 !important;
}

.x-tool-over .x-tool-import {
	background-position: -15px -15px !important;
}

#qbDataGridPanel .x-column-header-trigger,#qbFilterGridPanel .x-column-header-trigger,#qbParametersGrid .x-column-header-trigger
	{
	display: none !important;
}

/* Red triangle displayed in the top left corner, when something has been modified */
.dirtyFlag {
	background-image:
		url("../extjs/resources/themes/images/gray/grid/dirty.gif") !important;
	background-position: 0 0 !important;
	background-repeat: no-repeat !important;
}

/* config panel */
.versionLabel {
	font-size: 9px;	
	margin-left: 5px;
	font-style:italic;
	color: #999999;
}

/* Selection buttons */
.x-button-counter-select,.x-button-network-select {
	background: url("../images/icons/select_na_on.png") no-repeat !important;
	width: 16px !important;
	height: 16px !important;
	cursor: pointer;
	position: absolute;
	right: 0 !important;
	z-index: 101;
}

.x-button-counter-select-ok,.x-button-network-select-ok {
	background: url("../images/icons/select_na_on_ok.png") no-repeat !important;
	width: 16px !important;
	height: 16px !important;
	cursor: pointer;
	position: absolute;
	right: 0 !important;
	z-index: 101;
}

/* Left panel */
.qbNoElementFound {
	text-align: center;
	margin-top: 25px;
}

span.icoCancel {
	font-size: 13px;
	font-weight: bold;
	padding: 0 0 0 20px;
}

/* Right panel */
#qbUserTree table {
	margin-left: -10px;
	margin-top: 5px;
}

#qbUserTree .private {
	width: 16px;
	height: 16px;
	background: url("../images/icons/user.png") repeat scroll 0 0
		transparent
}

#qbUserTree .public {
	width: 16px;
	height: 16px;
	background: url("../images/icons/group.png") repeat scroll 0 0
		transparent
}

.qbLink {
	font: normal 10pt Verdana, Arial, sans-serif;
	color: #585858;
	text-decoration: none;
	cursor: pointer;
}

.qbButton {
	background: #1b8dd7;
	border: 0;
	color: white;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
}

/* Tooltip */
.x-tip {
	background: #fff;
}

/* Default theme overload */
.x-window-default,.x-message-box .x-window-body {
	color: #000;
	background: #fff;
}

.x-mask {
	background: #E5F6FF;
	opacity: 0.2;
}

.x-window-header-default-top {
	background: #CBE0F6;
}

.netSelNeList {
	padding: 5px;
	overflow-y: auto;
}

.netSelNeList table {
	width: 100%;
}

.netSelNeList td {
	font-family: arial, tahoma, helvetica;
	font-size: 11px;
	color: #333;
}

.netSelNeList tr:hover {
	background: #E5F1FF;
	cursor: pointer;
	padding: 1px 0 0 0;
}

.x-form-label {
	border-bottom: 1px solid #333333;
	color: #333333;
	margin: 0 30px 5px 0;
	padding: 2px;
}

.x-form-label-no-border {
	border-style: none;
	border-color: grey;
	color: #333333;
	margin: 0 30px 5px 0;
	padding: 2px;
}

/* Panel with no border */
.x-panel-no-border,.x-panel-no-border>div {
	border-style: none;
	border-color: grey;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Gauges */
.x-label-gauge-details {
	color: white;
	font-weight: normal;
	/*font-size: 11px;*/
	font-family: tahoma, arial, verdana;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.x-label-gauge-value-ok {
	color: #94AE0A;
	font-weight: bold;
	font-size: 11pt;
	font-family: Verdana, Arial
}

.x-label-gauge-value-warning {
	color: #FF8C00;
	font-weight: bold;
	font-size: 11pt;
	font-family: Verdana, Arial
}

.x-label-gauge-value-alert {
	color: #FF0000;
	font-weight: bold;
	font-size: 11pt;
	font-family: Verdana, Arial
}

/* charts title bars */
.x-chart-title-normal>div.x-panel-header {	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #434A5E), color-stop(45%, #3C4255), color-stop(46%, #2A2F3E), color-stop(50%, #2A2F3E), color-stop(51%, #313646), color-stop(100%, #3A4155));
	background-image: -webkit-linear-gradient(top, #434A5E,#3C4255 45%,#2A2F3E 46%,#2A2F3E 50%,#313646 51%,#3A4155);
	background-image: -moz-linear-gradient(top, #434A5E,#3C4255 45%,#2A2F3E 46%,#2A2F3E 50%,#313646 51%,#3A4155);
	background-image: -o-linear-gradient(top, #434A5E,#3C4255 45%,#2A2F3E 46%,#2A2F3E 50%,#313646 51%,#3A4155);
	background-image: -ms-linear-gradient(top, #434A5E,#3C4255 45%,#2A2F3E 46%,#2A2F3E 50%,#313646 51%,#3A4155);
	background-image: linear-gradient(top, #434A5E,#3C4255 45%,#2A2F3E 46%,#2A2F3E 50%,#313646 51%,#3A4155);
}

.x-chart-title-selected > div.x-panel-header {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2ccee),
		color-stop(50%, #88b1e5), color-stop(51%, #73a3e0),
		color-stop(100%, #5e96db) );
	background-image: -webkit-linear-gradient(top, #b2ccee, #88b1e5 50%, #73a3e0 51%, #5e96db);
	background-image: -moz-linear-gradient(top, #b2ccee, #88b1e5 50%, #73a3e0 51%, #5e96db);
	background-image: -o-linear-gradient(top, #b2ccee, #88b1e5 50%, #73a3e0 51%, #5e96db);
	background-image: -ms-linear-gradient(top, #b2ccee, #88b1e5 50%, #73a3e0 51%, #5e96db);
	background-image: linear-gradient(top, #b2ccee, #88b1e5 50%, #73a3e0 51%, #5e96db);
	background:repeat-x;
	background-image:url('../extjs/resources/themes/images/default/progress/progress-default-bg.gif');
	                  
}

/* period chart */
.periodChart {
	color: white;
}

.gaugeie tspan { 
    fill: #ffffff;
}

.simpleToolbar {
	border-color: #232D38;
	background-color: #232D38;
	background-image: none;
	z-index: 9;
}

.waitMessage {
	color: #fff;
	font-weight: bold;
	background: #1d97d8;
	text-align: center;
	vertical-align: middle;
}

.waitMessageHidden {
	display: none;
}

.red-row{ 
	background-color: #F5C0C0 !important;
}

.label_CellsSurveillance{
	color: white;	
}

.x-item-disabled{
    opacity: 0.9; 
}
input[readonly]{
	border: 1px solid #B5B8C8;
}

.x-border-box .x-form-text{
	height: 22px;
}

.x-border-box .x-form-trigger{
	height: 22px;
}

.x-form-trigger-wrap .x-form-spinner-up, .x-form-trigger-wrap .x-form-spinner-down{
	background-image: url("../extjs/resources/themes/images/access/form/spinner.gif");
    border-bottom: 0 none;
    font-size: 0;
    height: 11px !important;
    width: 20px !important;
}