
/*  Styles des balises */

body{
	scrollbar-arrow-color : #424F7C;
	scrollbar-face-color : #E2E2E2;
	scrollbar-track-color : #F4F4F4;
	scrollbar-highlight-color : #FFFFFF;
	scrollbar-3dlight-color : #D0D0D0;
	scrollbar-shadow-color : #FFFFFF;
	scrollbar-darkshadow-color : #C0C0C0;
}

label{
	font : normal 9pt Verdana, Arial, sans-serif;
	color : #585858;
}

a{
  font : normal 10pt Verdana, Arial, sans-serif;
  color : #585858;
  text-decoration : none;
}
a:hover{
  font : normal 10pt Verdana, Arial, sans-serif;
  color : #585858;
  text-decoration : underline;
}
a:link{
  font : normal 10pt Verdana, Arial, sans-serif;
  color : #585858;
  text-decoration : none;
}

/* Styles appliqués aux boutons */

.bouton{
	border-right : 1px solid #585858;
	border-bottom : 1px solid #585858;
	border-top : 1px solid #C9C9C9;
	border-left : 1px solid #C9C9C9;
	font : normal 9pt Verdana, Arial, sans-serif;
	background-image : url('../images/boutons/bouton_style_relief.gif');
	background-repeat: no-repeat;
	padding-left : 5px;
	cursor:pointer;
}
.boutonUpload{
	border-right : 1px solid #585858;
	border-bottom : 1px solid #585858;
	border-top : 1px solid #C9C9C9;
	border-left : 1px solid #C9C9C9;
	font : normal 9pt Verdana, Arial, sans-serif;
	background-image : url('../images/boutons/bouton_upload.gif');
	background-repeat: no-repeat;
	padding-left : 5px;
}
.boutonMini{
	border-right : 1px solid #585858;
	border-bottom : 1px solid #585858;
	border-top : 1px solid #C9C9C9;
	border-left : 1px solid #C9C9C9;
	font : normal 7pt Verdana, Arial, sans-serif;
	background-image : url('../images/boutons/bouton_style_relief.gif');
	background-repeat: no-repeat;
	padding-left : 5px;
	height : 16px;
}

.boutonLite{
	background-color : #FFFFFF;
	border : 0px;
	border-left : 2px solid #585858;
	border-bottom : 1px solid #565656;
	font : normal 7pt Verdana, Arial, sans-serif #585858;
	text-decoration : none;
	text-align : left;
}
.boutonLiteRouge{
	background-color : #FF0000;
	border : 0px;
	border-left : 2px solid #585858;
	border-bottom : 1px solid #565656;
	font : normal 7pt Verdana, Arial, sans-serif #585858;
	text-decoration : none;
	text-align : left;
}
.boutonLite_hover{
	background-color : #FFFFFF;
	font : normal 7pt Verdana, Arial, sans-serif #585858;
	text-decoration : underline;
	border : 1px solid #585858;
}

.boutonPlat {
	background-color:<?=$couleur_fond_global?>;
	border-style: solid;
	color:#000000;
	border-color:#002D73;
	font-size : 10px;
	font-weight: normal;
	font-family: arial;
	border-top-width: 1;
	border-left-width: 1;
	border-right-width: 1;
	border-bottom-width: 1;
}

.boutonPlay{
	border : none;
	background-image : url('../images/boutons/bt_play.gif');
	background-repeat: no-repeat;
	width: 37px;
	height: 26px;
}

.boutonPause{
	border : none;
	background-image : url('../images/boutons/bt_pause.gif');
	background-repeat: no-repeat;
	width: 37px;
	height: 26px;
}

.boutonDisplay{
	border : none;
	background-image : url('../images/boutons/bouton_display.gif');
	background-repeat: no-repeat;
	width: 70px;
	height: 27px;
	border-bottom:1px solid white; /* slc 29/07/2008 - sans cette ligne, l'image de fond ne s'affiche pas */
}

.boutonRouge{
	border-right : 1px solid #585858;
	border-bottom : 1px solid #585858;
	border-top : 1px solid #C9C9C9;
	border-left : 1px solid #C9C9C9;
	font : bold 9pt Verdana, Arial, sans-serif;
	color : #FF0000;
	background-image : url('../images/boutons/bouton_style_relief_rouge.gif');
	background-repeat: no-repeat; 
	padding-left : 5px;
}


/* Styles des zones de texte */

.zoneTexte{
	border : 1px solid #565656;
	background-color : #fff;
}
.zoneTexteBlanche        {
	border-right: #a5acb2 1px solid;
	border-top: #a5acb2 1px solid;
	font: 8pt verdana, arial, helvetica;
	border-left: #a5acb2 1px solid;
	color: #585858;
	border-bottom: #a5acb2 1px solid;
	background-color: #ffffff;
}
.zoneTexteStyleXP        {
	border: #7F9DB9 1px solid;
	font: 8pt verdana, arial, helvetica;
	color: #585858;
	background-color: #ffffff;
}
.zoneTexteStyleXP_comment        {
	border: #7F9DB9 1px solid;
	font: 8pt verdana, arial, helvetica;
	color: #585858;
	background-color: #ffffff;
}
.zoneTexteStyleXPContourRouge        {
	border: #ff0000 2px solid;
	font: 8pt verdana, arial, helvetica;
	color: #585858;
	background-color: #ffffff;
}
.zoneTexteStyleXPFondGris       {
    border: #7F9DB9 1px solid;
	font: 8pt verdana, arial, helvetica;
	color: #585858;
	background-color: #f5f2f2;
}

/* Styles des textes */
.texteAccueil{
	font : normal 8pt Arial, Helvetica, sans-serif;
	color : #333333;
}
.texteGris{
	font : normal 9pt Verdana, Arial, sans-serif;
	color : #585858;
}
td.texteGris {text-align:left;}
 
.texteGrisGrand{
	font : normal 11pt Verdana, Arial, sans-serif;
	color : #585858;
}
.texteGrisPetit{
	font : normal 7pt Verdana, Arial, sans-serif;
	color : #585858;
}
.texteGrisPetit_comment{
	font : normal 7pt Verdana, Arial, sans-serif;
	color : #585858;
}
.texteNoirPetit{
	font : normal 7pt Verdana, Arial, sans-serif;
	color : #000000;
}

.texteGrisBold{
	font : bold 9pt Verdana, Arial, sans-serif;
	color : #585858;
}
.texteGrisBoldU{
	font : bold 9pt Verdana, Arial, sans-serif;
	color : #585858;
	text-decoration : underline;
}
.texteGrisBoldPetit{
	font : bold 8pt Verdana, Arial, sans-serif;
	color : #585858;
}
.texteSelecteur{
	font : normal 8pt Arial, sans-serif;
	color : #000000;
}
.texteSelecteurBold{
	font : bold 8pt Arial, sans-serif;
	color : #000000;
}
.texteGrisBoldGrand{
	font : bold 12pt Verdana, Arial, sans-serif;
	color : #585858;
}
.texteRouge{
	font : normal 9pt Verdana, Arial, sans-serif;
	color : #FF0000;
}
.texteRougeBold {
	font : bold 7pt Verdana, Arial, sans-serif;
    color : #FF0000;
}
.texteOrangeBold { 
	font : bold 7pt Verdana, Arial, sans-serif;
    color : #FFA243;
}
.texteVertBold { 
	font : bold 7pt Verdana, Arial, sans-serif;
    color : #5ADD45;
}
.texteVert { 
	font : normal 7pt Verdana, Arial, sans-serif;
    color : #5ADD45;
}
.texteRougePetit{
	font : normal 7pt Verdana, Arial, sans-serif;
	color : #FF0000;
}
.texteBlancBold{
	font : bold 9pt Verdana, Arial, sans-serif;
	color : #FFFFFF;
}
.texteBlancBold_comment{
	font : bold 9pt Verdana, Arial, sans-serif;
	color : #FFFFFF;
}
.texteBlancPetit{
	font : normal 7pt Verdana, Arial, sans-serif;
	color : #FFFFFF;
}

/* Styles des tableaux  et fonds */

.tabRelief{
	border : 1px solid #CCCCCC;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
}
.tableauDotted{
	border : 1px dotted #545454;
	background-color : #D4D4D4;
}
.tableauDottedBlanc{
	border : 1px dotted #545454;
	background-color : #fff;
}
.tabPrincipal{
	border : 1px dotted #787878;
	background-image : url('../images/fonds/fond_selecteur.gif');
	text-align:left;
}

.tabPrincipal2{
	background-image : url('../images/fonds/fond_selecteur.gif');
	margin : 10px;
}

.fondPrincipal{
	background-image : url('../images/fonds/fond_selecteur.gif');
}

.fondBlanc {
	background-color:#FFFFFF;
	cursor : default;
}
.fondVert { 
	background-color:#5ADD45; 
	font : normal 7pt Verdana, Arial, sans-serif;
    color : #000000;
}
.fondOrange {

	background-color:#FFCA43; 
	font : normal 7pt Verdana, Arial, sans-serif;
	color : #FFFFFF;
	cursor : default;
}
.fondOrangeClair { 
	background-color:#fdb66e; 
}
.fondRouge { 
	background-color:#FF0000; 
	font : normal 7pt Verdana, Arial, sans-serif;
    color : #000000;
}
.fondVide {
	background-color: none;
	cursor : default;
}
.fondGrisClair {
	background-color: #F0EFEE;
}
.fondGrisFonce {
	background-color: #b5b4b3;
}
.fondGrisFonce_comment {
	background-color: #b5b4b3;
}
.fondGrisMoyen {
	background-color: #E4E3E3;
}
.tabLigneAlarmeGris { 
	background-color: #D6D4D4;
	border : 1px solid #C0C0C0;
}
.tabLigneAlarmeBlanc { 
	background-color: #FFFFFF;
	border : 1px solid #C0C0C0;
}
.fondEnteteAlarmes{ 
	background-color: #A0A0A0;
	border : 1px solid #FFFFFF;
}
.tabAlarme{ border : 1px solid #C0C0C0; border-collapse: collapse; }

.tabPrincipalSelecteur{
	border : 1px solid #787878;
	background-image : url('../images/fonds/fond_selecteur_clair.gif');
}

.tabPrincipalClair{
	border : 1px dotted #787878;
	background-image : url('../images/fonds/fond_selecteur_clair.gif');
	text-align: left;
}

.tabliseret{
	border : 1px  #787878;
}


.tabPrincipalAffichagePauto{
	border : 1px dotted #787878;
}

.tabLigneHomepageGris { 
	background-color: #D6D4D4;
}

.tabLigneHomepageGrisClair { 
	background-color: #edebeb;
}


/*  Styles d'élémentqs divers fildset, onglets, etc... */ 

.fieldsetRelief{
	border : 1px solid #000000;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	background-color : #DEDDDD;
}

.ongletSelect{
	border-top : 1px dotted #787878;
	border-left : 1px dotted #787878;
	border-right : 1px dotted #787878;
	background-image : url('../images/fonds/fond_selecteur.gif');
}
.ongletDown{
	border : 1px dotted #787878;
	background-color : #F1F0F0;
}

.ongletPlatSelect{
	border-top : 		1px solid #787878;
	border-left : 		1px solid #787878;
	border-right : 		1px solid #787878;
	background-color: 	#f1f1f1;
}
.ongletPlatZoneAffichage{
	border-bottom : 	1px solid #787878;
	border-left : 		1px solid #787878;
	border-right : 		1px solid #787878;
	background-color: 	#f1f1f1;
}
.ongletPlatPasSelect{
	border-top : 		1px solid #e5e5e5;
	border-left : 		1px solid #e5e5e5;
	border-right : 		1px solid #e5e5e5;
	border-bottom : 	1px solid #787878;
	background-color: 	#f5f5f5;
}
.ongletZoneVide{
	border-bottom : 	1px solid #787878;
}


/*
	Style appliqués aux commentaires.
*/
.commentaireFond {
	background-color: #FFFFFF;
	border : 1px solid #E3E3E3;
}
.commentaireEntete {
	background-color: #F0EFEE;
	border : 1px solid #CCCCCC;
}

/*
	Style appliqué aux commentaire
*/
p { margin : 1em 0; }

h1, h2, h3, h4 {
	font-family : "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

h1 { font-size: 1.6em; margin: .67em 0; }
h2 { font-size: 1.5em; margin: .83em 0; color : #069;}
h3 { font-size: 1.17em; margin: 1em 0; color : #f60; }
h4 { margin: 1.33em 0; color : #090; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.67em; margin: 2.33em 0; }

dt {
	margin-top : 1em;
	margin-bottom : 0.5em;
	font-weight : bold;
}

#main {
	margin : 0 0 1px 0;
	padding : 0 0 1px 0;
	background : #fff;
	color : #000;
	clear : left;
	border-width : 1px 2px 1px 1px;
	border-style : solid;
	border-color : #999;
}
#content {
	padding : 1em;
	font-family : Arial,Helvetica,sans-serif;
}

.texteGrisMini{
	font : normal 7pt Verdana, Arial, sans-serif;
	color : #585858;
	border: none;
}

/* modif 10:53 04/07/2007 Gwénaël */
/* Style lors du mouseover sur une donnée d'un graphe */
area.p{
	cursor: pointer;
}

.mouseover {
	background-color : #fff;
	border : 2px solid #333;
	position:absolute;
}
.mouseover .titre {
	background-color : #333;
	color : #ccc;
	font: 14px Arial;
	text-align:center;
	font-weight:bold;	
}
.mouseover .msg {
	margin: 5px;
	border : 1px solid #333;
	font: 11px Arial;
	font-weight:bold;	
	padding: 2px 8px 2px 8px; 
}

/* 09:44 20/07/2007 Gwénaël */
/* 04/12/2007 Maxime - ajout du paramètre position absolute ( problème d'affichage sous ie6 ) */
/* modif tooltip */
.tooltip {
z-index: 110000000;
margin:0;
padding:10px 0 0 0;
position:absolute;
}

.tooltip .fleche {
z-index: -10000000;
background-image:url('../images/divers/tooltip.gif');
background-repeat:no-repeat;
border:0px solid #f00;
height:20px;
width:20px;
position:absolute;
}

.tooltip .content {
z-index: 11000000;
border:2px solid #c0c09f;
}
.tooltip .content .title {
z-index: 11000000;
padding: 0 3px 1px 3px;
font: 11px Arial;
font-weight:bold;
background-color : #c0c09f;
}

.tooltip .content .text {
z-index: 11000000;
font: 10px Arial;
background-color : #ffffcc;
padding:3px;
}

/* modif 10:04 27/07/2007 Gwénaël */
/* Style graph data info */

#DataInformation div{
text-align: left;
margin: 5px
}
#DataInformation div fieldset{
padding: 10px 10px 15px 10px;
}
#DataInformation div .graphDataInfo {
width: 100%;
color:#000000;
font-family: Arial;
background-color: #ffffff;
}
#DataInformation div .graphDataInfo tr th{
font-size: 12px;
font-weight:bold;
padding: 5px;
border:1pt solid #000000;
background-color: #efefef;
}
#DataInformation div .graphDataInfo tr td{
font-size: 11px;
padding: 5px; 
border:1pt solid #000000;
}
#DataInformation div .graphDataInfo .title {
font-weight:bold;
}
.center{
text-align:center;
}

/* ajout 16:03 07/11/2007 Gwen */
/* Le css suivant vient du fichie intranet_top.php */
#interface1 { z-index:1; }
#loader_background {text-align:center;position:absolute;top:0%;width:100%;height:100%;background-color:#FF0000; filter: alpha(opacity=0);opacity:0; z-index:10}
#loader_container {text-align:center;position:absolute;top:40%;width:100%}
#loader {
font-family:Tahoma, Helvetica, sans;
font-size:11px;
color:#000000;
background-color:#FFFFFF;
padding:10px 0 16px 0;
margin:0 auto;
display:block;
width:130px;
border:1px solid #6A6A6A;
text-align:left;
z-index:2;
}
#progress {
height:5px;
font-size:1px;
width:1px;
position:relative;
top:1px;
left:0px;
background-color:#9D9D94
}
#loader_bg {background-color:#EBEBE4;position:relative;top:8px;left:8px;height:7px;width:113px;font-size:1px}

#ajouter_commentaire {
	display : none;
}

/* Ajout 13/12/2007  Gwénaël */
/* Affichage du résultat des détails d'une alarme */
hr.alarmResultDisplay{
margin-bottom: 5px;
color: #929292;
background-color: #929292;
height: 2px;
border: 0;
}
h1.alarmResultDisplay{
font : bold 12pt Trebuchet MS,Verdana, Arial, sans-serif;
color : #929292;
height: 20px;
margin: 0px;
}
th.alarmResultDisplay{
color: #fff;
background-color : #929292;
font : normal 9pt Verdana, Arial, sans-serif;
text-align: center;
}
.entete{
color: #fff;
background-color : #929292;
font : bold 9pt Verdana, Arial, sans-serif;
text-align: center;
}