fieldset { -moz-border-radius: 8px; border-radius: px; }

.tabPrincipal {
	/*border: #787878 1px dotted;*/
	background-image: url('../images/fonds/fond_selecteur.gif');
}

.texteGris {
	font: 9pt Verdana, Arial, sans-serif;
	color: #585858;
}

.texteGrisBold {
	font: bold 9pt Verdana, Arial, sans-serif;
	color: #585858;
}

.texteGrisPetit {
	font: 7pt Verdana, Arial, sans-serif;
	color: #585858;
}

.zoneTexteBlanche {
	border: #a5acb2 1px solid;
	font: 8pt verdana, arial, helvetica;
	color: #585858;
	background-color: #ffffff;
}

.zoneTexteStyleXP {
	border: #7f9db9 1px solid;
	font: 8pt verdana, arial, helvetica;
	color: #585858;
	background-color: #ffffff;
}

.zoneTexteStyleXPFondGris {
	border: #7f9db9 1px solid;
	font: 8pt verdana, arial, helvetica;
	color: #585858;
	background-color: #f5f2f2;
}

.bouton {
	border-right: #585858 1px solid;
	border-top: #c9c9c9 1px solid;
	padding-left: 5px;
	background-image: url('../images/boutons/bouton_style_relief.gif');
	font: 9pt verdana, arial, sans-serif;
	border-left: #c9c9c9 1px solid;
	cursor: pointer;
	border-bottom: #585858 1px solid;
	background-repeat: no-repeat;
}

/* Style des images de l'interface de la liste des alarmes */

.alarm_title {
  background-image: url('../images/titres/setup_alarm_titre.gif');
  background-repeat: no-repeat;
  width: 387 px;
  height: 42 px;
  padding: 0;
  border: 0;
  display:inline;
}

.small_puce_fieldset {
  background-image: url('../images/icones/small_puce_fieldset.gif');
  background-repeat: no-repeat;
  width: 10 px;
  height: 10 px;
  padding: 0;
  border: 0;
  display:inline;
}

.change_family {
  background-image: url('../images/icones/change.gif');
  background-repeat: no-repeat;
  width: 20 px;
  height: 20 px;
  padding: 0;
  border: 0;
  display:inline;
}

.email_enabled {
  background-image: url('../images/icones/send_vert.gif');
  background-repeat: no-repeat;
  width: 16 px;
  height: 17 px;
  padding: 0;
  border: 0;
  display:inline;
  cursor:pointer
}

.email_disabled {
  background-image: url('../images/icones/send_rouge.gif');
  background-repeat: no-repeat;
  width: 16 px;
  height: 17 px;
  padding: 0;
  border: 0;
  display:inline;
  cursor:pointer
}

.snmp_enabled {
  background-image: url('../images/icones/send_vert_snmp.jpg');
  background-repeat: no-repeat;
  width: 16 px;
  height: 17 px;
  padding: 0;
  border: 0;
  display:inline;
}

.snmp_disabled {
  background-image: url('../images/icones/send_rouge_snmp.jpg');
  background-repeat: no-repeat;
  width: 16 px;
  height: 17 px;
  padding: 0;
  border: 0;
  display:inline;
}

.drop_alarm {
  background-image: url('../images/icones/drop.gif');
  background-repeat: no-repeat;
  width: 16 px;
  height: 17 px;
  padding: 0;
  border: 0;
  display:inline;
  cursor:pointer
}

.alarm_info {
  background-image: url('../images/icones/A_more.gif');
  background-repeat: no-repeat;
  width: 16 px;
  height: 17 px;
  padding: 0;
  border: 0;
  display:inline;
  cursor:pointer;
}

.alarm_warning {
  background-image: url('../images/icones/icone_danger.gif');
  background-repeat: no-repeat;
  width: 18 px;
  height: 16 px;
  padding: 0;
  border: 0;
  display:inline;
}

.information {
  background-image: url('../images/icones/i.gif');
  background-repeat: no-repeat;
  width: 16 px;
  height: 17 px;
  padding: 0;
  border: 0;
  display:inline;
}

.errors_info {
	font: 10pt verdana, arial, helvetica;
	color: #FFFFFF;
	background-color: #FF0033;
	padding: 10px;
}