/* Icons */
.icoSend	{background: no-repeat url("../images/database_table.png");}
.icoTick	{background: no-repeat url("../images/tick.png");}

/* Notification */
#msg-div {
    position:absolute;
    left: 50%;
    margin-left: -150px;
    top:10px;
    min-width:300px;
    max-width: 600px;
    z-index:20000;
}

#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;    
    background: #fff;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}

#msg-div .msg.icoNotifError {
	background: no-repeat url("../images/icoNotifError.png") 16px 9px #fff !important;
}

#msg-div .msg.icoNotifOk {
	background: no-repeat url("../images/icoNotifOk.png") 16px 9px #fff !important;
}

#msg-div .msg.icoNotifInfo {
	background: no-repeat url("../images/icoNotifInfo.png") 16px 9px #fff !important;
}

#msg-div .msg h3 {
    margin: 0 0 8px 25px;
    font-weight: bold;
    font-size: 15px;
    color: #000;
}

#msg-div .msg p {
    margin: 0;
}

#msg-content {
	white-space:	nowrap;
	overflow: 		auto;
	max-height:		250px;
	margin-bottom:	5px;
}

.notifButton {	
	text-align: center;	
}